extends layout

block content

  div(class="nav navbar-fixed-top")
    div.container
      ul.pull-left
        li: a(id="logo", class="page-scroll", href="#top")
            img(height="30px",src="../images/logo_icon_white.png")
      ul.pull-right
        li
           a(class="page-scroll", href="#PRODUCT") PRODUCT
        li
           a(class="page-scroll", href="#PROJECT") PROJECT
        li
           a(class="page-scroll", href="#TEAM") TEAM
        li 
           a(class="page-scroll", href="#CONTACT") CONTACT

  header#top
    div.text-vertical-center
      img(width="280px",src="../images/exbrain_logo_01.png")
      h1 Personalized Information.
      p Your New Way to Explore the World.
      a(class="page-scroll", href="#PRODUCT") Learn More
 
  section#PRODUCT
    div.row
      div.container
        h1 Our World.
        p Get Personalized Contents.
          div(class="col-md-12")
            img(src="../images/exbrain-01.png")

  section#PROJECT
    div.row
      div.container
        h1 #1 Project: Intelligent Web Security (ONGOING).
        p Machine Learning Based Web Security.
      div.container
        h1 #2 Project: Personalized Clothing (UPCOMING).
        p Your Own Clothing Service.

  section#TEAM
    div.row
      div.container
        H1 The Team.
        p Smart, Creative, Professional.
        div(class="col-md-6")
          div.fred_img
            img(src="../images/fred_profile.png")
          div.profile
            h3 Freddie Choi
            h4 CEO, Product Manager
          ul.list-inline
            li: a(href="#")
                i(class="fa fa-google-plus-square fa-fw fa-2x")
            li: a(href="#")
                i(class="fa fa-linkedin-square fa-fw fa-2x")
        div(class="col-md-6")
          div.jay_img
            img(src="../images/jay_profile.jpg")
          div.profile
            h3 Jay Won
            h4 CTO, Software Engineer/Scienctist
          ul.list-inline
            li: a(href="#")
                i(class="fa fa-google-plus-square fa-fw fa-2x")
            li: a(href="#")
                i(class="fa fa-linkedin-square fa-fw fa-2x")

      div.container
        div(class="col-md-6")
          div.jw_img
            img(src="../images/jw_profile.jpeg")
          h3 Jinwoo Shin
          h4 Chief Scientist, Advisory
          ul.list-inline
            li: a(href="#")
                i(class="fa fa-google-plus-square fa-fw fa-2x")
            li: a(href="#")
                i(class="fa fa-linkedin-square fa-fw fa-2x")

        div(class="col-md-6")
          div.you_img
            img(src="../images/you_profile.jpg")
          h3 It's You
          br
          ul.list-inline#you
            li: a(href="mailto:freddie@exbrain.io")
                i(class="fa fa-envelope-o fa-fw fa-1g")
            li: &nbsp
                a(href="mailto:freddie@exbrain.io") Contact



  footer#CONTACT
    h4 <strong>exBrain</strong>
    p 77 Cheongam-Ro, Nam-Gu, Pohang, <br> Gyungbuk, Korea
    ul.no-bullet
      li: 82 54 123 4567
      li: a(href="mailto:name@example.com") freddie@exbrain.io
    ul.list-inline
      li: a(href="#")
          i(class="fa fa-facebook fa-fw fa-3x")
      li: a(href="#")
          i(class="fa fa-twitter fa-fw fa-3x")
    p Copyright &copy 2015 exBrain Incorporation. All rights reserved.
   

