doctype html
html
  head
    meta(characterset="utf-8")
    meta(http-equiv="S-UQ-Compatible" content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- Custom Fonts -->
    link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")

  body
    block content
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/jquery.js')
    script(src='javascripts/jquery.easing.min.js')
    script(src='javascripts/custom.js')
